 body {
        margin: 0;
    }
@media screen and (min-width:1300px) {
    .home_list {
        width: 80%;
        height: auto;
        margin: 0 auto;
    }

    .fram {
        width: 80%;
        height: 45px;
        border: solid 1px;
        border-color: #eae9ed;
        background-color: #fafafa;
        margin: 0 auto;
    }

    .block1 {
        border: solid 1px;
        border-color: #eae9ed;
        width: 180px;
        height: 45px;
        line-height: 45px;
        border-collapse: collapse;
        float: right;
        display: inline-block;
        margin-right: 100px;
        color: #7c7b7e;
        text-align: center;
    }

    .block2 {
        text-align: center;
        border: solid 1px;
        border-color: #eae9ed;
        width: 180px;
        height: 45px;
        line-height: 45px;
        border-collapse: collapse;
        float: right;
        color: #7c7b7e;
        display: inline-block;
    }
    #nav_base{
    position: relative;
    margin: 0 auto;
    min-height: 80px;
    height: 80px;
    width: auto;
    padding-left: 100px;
    padding-right: 100px;
    background-color: white;
    box-shadow: -2.12px 2.12px 4px rgba(0,0,0,0.59);
}
#nav_bar{
    position: relative;
    min-height: 80px;
    height:auto;
    margin:0 auto;
    display: block;
}
#nav_link{
    width: auto;
    height: auto;
    float: right;
    margin: 0 auto;
    /*display: block ;*/
/*!important;*/
}
.navg{
    position: relative;
    list-style-type: none;
    float: left;
    line-height: 80px;
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
#nav_content {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    display: block;
    height: 100%;
    width: 100%;
}
#nav_butt{
        position: relative;
        display: none;
        float: right !important;
        top: 30px;
        height: 38px;
        background-color: white;
        border-style: solid;
        border-width: 1px;
        margin-right: 3px;
        padding: 9px 7px ;
        cursor: pointer;
}
.bar{
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background-color: gray;
        margin-top: 4px;
        padding-right: 5px;
    }
#logo_image{
    position: absolute;
    top: 0.5px;
    bottom: auto;
    z-index: 90;
    }
#logo_text_base{
    position: absolute;
    display: block;
    top: 12px;
    right: auto;
    min-height: 53px;
    left:7.62%;
    z-index:90;
    width: 179px;
}
#logo_text p{
    margin: 0;
    padding: 0;
    display: block;
    text-align: left;
}
#tit_tex{
    font-weight: 700;
    font-size: 2.25em;
    margin: 0;
    padding: 0;
    text-align: left;
    color: rgba(53,181,235,1);
    line-height: 60px;
}
#nav{
    display: none;
}
.top_nav{
    position: relative;
    display: block;
    padding:0 12px;
    margin: 0 3px 0 8px;
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    color:black;
    line-height: 80px;
    height: 80px;
    float: left;
}
/*#link2{*/
    /*font-size: 16px;*/
    /*font-weight: 400;*/
    /*color: #019CCC;*/
    /*background-color: #F6F6F6;*/
    /*background: rgba(246,246,246,1);*/
    /*border: solid #019CCC;*/
    /*border-width: 0px 0px 5px 0px;*/
    /*box-shadow: none;*/
/*}*/
.top_nav:hover{
    border: solid #019CCC;
    border-width: 0px 0px 5px 0px;
    box-shadow: none;
    background-color: #F6F6F6;
    background: rgba(246,246,246,1);
    color: #019CCC;
}
.top_nav:active{
    border: solid #019CCC;
    border-width: 0px 0px 5px 0px;
    box-shadow: none;
    background-color: #F6F6F6;
    background: rgba(246,246,246,1);
    color: #019CCC;
}

    .frame {
        width: auto;
        height: 80px;
        border: solid 1px;
        border-color: #eae9ed;
        background-color: white;
        position: relative;
        margin: 0 auto;
        box-shadow: 2px -2px 2px rgba(69, 69, 69, 0.83) inset;
    }

    .highlight {
        color: #019ccc;
        background-color: #eae9ed;
        border-bottom: 5px solid;
        border-color: rgba(1, 156, 204, 1);
    }

    .navigationbar {
        line-height: 75px;
        font-size: 18px;
        cursor: pointer;
        padding: 0 10px;
        display: inline-block;
        float: left;
        margin: 0 5px;
    }

    .navigationbar1 {
        line-height: 75px;
        font-size: 18px;
        padding: 0 10px;
        display: inline-block;
        float: left;
        margin: 0 5px;
    }

    .navigationbar:hover {
        color: #019ccc;
        background-color: #eae9ed;
        border-bottom: 5px solid;
        border-color: rgba(1, 156, 204, 1);
    }

    .page {
        margin-left: 120px;
    }

    .navigationbar1 span1 {
        color: #29b5ff;
        font-size: 38px;
    }

    .list {
        width: 80%;
        padding: 0 150px;
        height: auto;
    }

    span {
        font-size: 39px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        display: block;
        color: rgba(53, 181, 235, 1);
        padding-top: 50px;
        margin: 0 auto;
    }

    .picture_font {
        width: 345px;
        height: 260px;
        padding: 20px;
        display: inline-block;
        line-height: 85px;
        font-size: 25px;
        text-align: center;
        padding-top: 30px;
    }

    .rubric {
        width: 90%;
        height: auto;
        color: white;
        background-color: rgba(1, 156, 204, 1);
        padding: 50px 50px;
        margin-top: 60px;
    }

    .rubric_z {
        font-size: 50px;
        text-align: center;
        padding: 0 120px;
    }

    .recent {
        width: 100%;
        height: 500px;
        margin: 0 100px;
    }

    .font {
        width: 40%;
        padding: 20px 20px 0 20px;
        display: inline-block;;
    }

    .bottom_list {
        width: 90%;
        height: 380px;
        color: white;
        background-color: black;
        padding: 0 50px;
        display: inline-block;
        margin: 0 auto;
    }

    .small_bottom_list {
        width: 22%;
        height: auto;
        display: inline-block;
        padding-left: 10px;
    }

    .list_font {
        font-size: 20px;
        line-height: 18px;
        padding: 12px 15px 0 0;
        cursor: pointer;
    }

    .list_font_s {
        font-size: 18px;
        height: 18px;
        line-height: 18px;
        padding: 12px 5px 0 0;
    }

    .D {
        font-size: 25px;
        margin-left: 15px;
    }

    .bottom_list h2 {
        color: #29b5ff;
    }

    .logo {
        float: left;
    }

    .rangr_navigationbar {
        margin-left: 350px;
    }

    .ftg {
        color: black;
        text-align: center;
        padding-top: 50px;
        display: inline-block;
        width: 90%;
    }

    .bottom_font {
        text-align: center;
        color: #7c7b7e;
    }

    .bottom_font p {
        color: white;
        cursor: pointer;
        display: inline-block;
    }

    .back-to-top {
        position: fixed;
        right: 20px;
        bottom: 10px;
        cursor: pointer;
    }
        img{
        max-width: 100%;
        max-height: 100%;
    }
}
.music{
    position: fixed;
    left: 50px;
    bottom: 50px;
    z-index: 1000;
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
    .fram {
        width: 100%;
        height: 45px;
        border: solid 1px;
        border-color: #eae9ed;
        background-color: #fafafa;
    }

    .block1 {
        border: solid 1px;
        border-color: #eae9ed;
        width: 180px;
        height: 45px;
        line-height: 45px;
        border-collapse: collapse;
        float: right;
        display: inline-block;
        margin-right: 100px;
        color: #7c7b7e;
        text-align: center;
    }

    .block2 {
        text-align: center;
        border: solid 1px;
        border-color: #eae9ed;
        width: 180px;
        height: 45px;
        line-height: 45px;
        border-collapse: collapse;
        float: right;
        color: #7c7b7e;
        display: inline-block;
    }
#nav_base{
    position: relative;
    margin: 0;
    min-height: 80px;
    height: 80px;
    width: auto;
    padding-left: 100px;
    padding-right: 100px;
    background-color: white;
    box-shadow: -2.12px 2.12px 4px rgba(0,0,0,0.59);
}
#nav_bar{
    position: relative;
    min-height: 80px;
    height:auto;
    margin:0 auto;
    display: block;
}
#nav_link{
    position: relative;
    width: auto;
    height: auto;
    float: right;
    z-index: 80;
    /*display: block ;*/
/*!important;*/
}
.navg{
    position: relative;
    list-style-type: none;
    float: left;
    line-height: 80px;
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
#nav_content {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    display: block;
    height: 100%;
    width: 100%;
}
#nav_butt{
        position: relative;
        display: none;
        float: right !important;
        top: 30px;
        height: 38px;
        background-color: white;
        border-style: solid;
        border-width: 1px;
        margin-right: 3px;
        padding: 9px 7px ;
        cursor: pointer;
}
.bar{
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background-color: gray;
        margin-top: 4px;
        padding-right: 5px;
    }
#logo_image{
    position: absolute;
    top: 0.5px;
    bottom: auto;
    z-index: 90;
    }
#logo_text_base{
    position: absolute;
    display: block;
    top: 12px;
    right: auto;
    min-height: 53px;
    left:7.62%;
    z-index:90;
    width: 179px;
}
#logo_text p{
    margin: 0;
    padding: 0;
    display: block;
    text-align: left;
}
#tit_tex{
    font-weight: 700;
    font-size: 2.25em;
    margin: 0;
    padding: 0;
    text-align: left;
    color: rgba(53,181,235,1);
    float: left;
}
#nav{
    display: none;
}
.top_nav{
    position: relative;
    display: block;
    padding:0 12px;
    margin: 0 3px 0 8px;
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    color:black;
    line-height: 60px;
    /*height: 80px;*/
}
/*#link2{*/
    /*font-size: 16px;*/
    /*font-weight: 400;*/
    /*color: #019CCC;*/
    /*background-color: #F6F6F6;*/
    /*background: rgba(246,246,246,1);*/
    /*border: solid #019CCC;*/
    /*border-width: 0px 0px 5px 0px;*/
    /*box-shadow: none;*/
/*}*/
.top_nav:hover{
    border: solid #019CCC;
    border-width: 0px 0px 5px 0px;
    box-shadow: none;
    background-color: #F6F6F6;
    background: rgba(246,246,246,1);
    color: #019CCC;
}
.top_nav:active{
    border: solid #019CCC;
    border-width: 0px 0px 5px 0px;
    box-shadow: none;
    background-color: #F6F6F6;
    background: rgba(246,246,246,1);
    color: #019CCC;
}

    .frame {
        width: 100%;
        height: 80px;
        border: solid 1px;
        border-color: #eae9ed;
        background-color: white;
        box-shadow: 2px -2px 2px rgba(69, 69, 69, 0.83) inset;
    }

    .highlight {
        color: #019ccc;
        background-color: #eae9ed;
        border-bottom: 5px solid;
        border-color: rgba(1, 156, 204, 1);
    }

    .navigationbar {
        line-height: 75px;
        font-size: 15px;
        cursor: pointer;
        padding: 0 10px;
        display: inline-block;
        float: left;
        margin: 0 5px;
    }
      .navigationbar1 {
        line-height: 75px;
        font-size: 18px;
        padding: 0 10px;
        display: inline-block;
        float: left;
        margin: 0 5px;
    }

    .navigationbar:hover {
        color: #019ccc;
        background-color: #eae9ed;
        border-bottom: 5px solid;
        border-color: rgba(1, 156, 204, 1);
    }

    .page {
        margin-left: 2%;
    }
    .rangr_navigationbar {
        margin-left: 1%;
    }
    .logo {
        float: left;
    }
    .navigationbar1 span1 {
        color: #29b5ff;
        font-size: 38px;
    }
    span {
        font-size: 39px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        display: block;
        color: rgba(53, 181, 235, 1);
        padding-top: 50px;
        margin: 0 auto;
    }
    .list {
        height: auto;
        margin: 0 80px;
    }

    .picture_font {
        width: 280px;
        height: 260px;
        padding: 10px;
        display: inline-block;
        line-height: 35px;
        font-size: 25px;
        text-align: center;
        padding-top: 30px;
        margin: 0 50px;
    }

    .rubric {
        width: auto;
        height: auto;
        color: white;
        background-color: rgba(1, 156, 204, 1);
        padding: 50px 50px;
        margin-top: 60px;
    }
        .rubric_z {
        font-size: 45px;
        text-align: center;
        padding: 0 120px;
    }

    .recent {
        height: auto;
        margin: 0 100px;
    }
    .bottom_list {
        height: auto;
        color: white;
        background-color: black;
        padding: 0 50px;
        display: inline-block;
    }

    .small_bottom_list {
        height: auto;
        display: inline-block;
        padding-left: 10px;
    }

    .list_font {
        font-size: 20px;
        height: 18px;
        line-height: 18px;
        padding: 12px 15px 0 0;
        cursor: pointer;
    }

    .list_font_s {
        font-size: 18px;
        height: 18px;
        line-height: 18px;
        padding: 12px 5px 0 0;
    }

    .D {
        font-size: 25px;
        margin-left: 15px;
    }
    .S{
        padding-right: 400px;
    }

    .bottom_list h2 {
        color: #29b5ff;
    }

    .logo {
        float: left;
    }
        .ftg {
        color: black;
        text-align: center;
        padding-top: 50px;
        display: inline-block;
        width: 90%;
    }

    .bottom_font {
        text-align: center;
        color: #7c7b7e;
    }

    .bottom_font p {
        color: white;
        cursor: pointer;
        display: inline-block;
    }

    .back-to-top {
        position: fixed;
        right: 20px;
        bottom: 10px;
        cursor: pointer;
    }
        img{
        max-width: 100%;
        max-height: 100%;
    }
}
 @media only screen and (max-width: 767px) {
     .fram {
        width: 100%;
        height: 45px;
        border: solid 1px;
        border-color: #eae9ed;
        background-color: #fafafa;
    }

    .block1 {
        border: solid 1px;
        border-color: #eae9ed;
        width: 180px;
        height: 45px;
        line-height: 45px;
        border-collapse: collapse;
        float: right;
        display: inline-block;
        color: #7c7b7e;
        text-align: center;
    }

    .block2 {
        text-align: center;
        border: solid 1px;
        border-color: #eae9ed;
        width: 180px;
        height: 45px;
        line-height: 45px;
        border-collapse: collapse;
        float: left;
        color: #7c7b7e;
        display: inline-block;
    }
    #nav_butt{
    display: block;
}


#nav_link{
    float: none;
}
#logo_text_base{
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
}
#nav_base{
    min-height:80px;
    height:auto;
    }
.navg{
    left:0;
    float: none;
    line-height: 50px;
    width: 100%;
    list-style-type: none;
    margin: 0 4px;
    cursor: pointer;
}
#link2{
    border-bottom-style: none;
    border-left-style: solid;
    border-width: 0 0 0 5px;
}
.top_nav{
    border-bottom-style: none;
}
.top_nav:hover{
    border-width: 0 0 0 5px;
}
.top_nav:active {
    border-width: 0 0 0 5px;
}
    .frame {
        width: 100%;
        height: 80px;
        border: solid 1px;
        border-color: #eae9ed;
        background-color: white;
        box-shadow: 2px -2px 2px rgba(69, 69, 69, 0.83) inset;
    }
    .logo{
        float: left;
    }
    .navigationbar1 span1 {
        color: #29b5ff;
        font-size: 38px;
        line-height: 80px;
    }
    span {
        font-size: 39px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        display: block;
        color: rgba(53, 181, 235, 1);
        padding-top: 50px;
        margin: 0 auto;
    }
    .list {
        height: auto;
        margin: 0 10%;
    }

    .picture_font {
        width: 280px;
        height: 260px;
        padding: 10px;
        display: inline-block;
        line-height: 25px;
        font-size: 25px;
        text-align: center;
        padding-top: 50px;
        margin: 0 50px;
    }

    .rubric {
        color: white;
        background-color: rgba(1, 156, 204, 1);
        margin-top: 60px;
    }
        .rubric_z {
        font-size: 45px;
        text-align: center;
        padding: 50px 30px;
    }
    .recent {
        height: auto;
        margin: 0 20px;
    }
    .bottom_list {
        height: auto;
        color: white;
        background-color: black;
        padding: 0 30px;
        display: inline-block;
    }

    .small_bottom_list {
        height: auto;
        display: inline-block;
        padding-left: 10px;
    }

    .list_font {
        font-size: 20px;
        height: 18px;
        line-height: 18px;
        padding: 12px 15px 0 0;
        cursor: pointer;
    }

    .list_font_s {
        font-size: 18px;
        height: 18px;
        line-height: 18px;
        padding: 12px 5px 0 0;
    }

    .D {
        font-size: 25px;
        margin-left: 15px;
    }
    .S{
        padding-right: 400px;
    }

    .bottom_list h2 {
        color: #29b5ff;
    }

    .logo {
        float: left;
    }
        .ftg {
        color: black;
        text-align: center;
        padding-top: 50px;
        display: inline-block;
        width: 90%;
    }

    .bottom_font {
        text-align: center;
        color: #7c7b7e;
    }

    .bottom_font p {
        color: white;
        cursor: pointer;
        display: inline-block;
    }

    .back-to-top {
        position: fixed;
        right: 20px;
        bottom: 10px;
        cursor: pointer;
    }
    img{
        max-width: 100%;
        max-height: 100%;
    }

 }