body{
    margin: 0;
    min-width: 1365px;
}
.frame {
    width: 1300px;
    background-color: white;
    height: 80px;
    margin-left: 300px;
    border: solid 1px;
    border-color: #eae9ed;
    border-collapse: collapse;
    padding-top: 5px;
    /*box-shadow:10 0 3px #000 inset;*/
}
.E{
    width: 1300px;
    height: 45px;
    margin-left: 300px;
    border: solid 1px;
    border-color: #eae9ed;
    background-color: #fafafa;
    border-collapse: collapse;
}
.k1{
    border: solid 1px;
    border-color: #eae9ed;
    width: 180px;
    height: 45px;
    line-height: 45px;
    border-collapse: collapse;
    float: right;
    display: inline-block;
    margin-right: 100px;
    color: #7c7b7e;
    text-align: center;
}
.k2{
    text-align: center;
    border: solid 1px;
    border-color: #eae9ed;
    width: 180px;
    height: 45px;
    line-height: 45px;
    border-collapse: collapse;
    float: right;
    color: #7c7b7e;
    display: inline-block;
}
.page {
    margin-left:120px;
}
.W{
    margin-left: 300px;
}
.navigationbar
{
    color: black;
    width: 80px;
    float: left;
    line-height: 80px;
    font-size:18px;
    text-align: center;
    text-decoration:blink;
    cursor: pointer;
    font-weight:bold;
    padding: 0 15px;
}
.homePage {
    background-color: #eae9ed;
    padding: 80px 50px;
    margin: 30px 150px;
}
.firm{
    width: auto
}
.tupian{
    float: left;
}
.list{
    height: 860px;
    width: auto;
    padding: 50px 300px 0 350px;
}
span{
    font-size: 39px;
    width:1200px;
    height:80px;
    line-height:80px;
    text-align:center;
    float:left;
    display: block;
    color: #29b5ff;
}
.t{
    width: 345px;
    height: 260px;
    padding: 20px;
    display: inline-block;
    line-height: 35px;
}
.i{
    width: 350px;
    height: 232px;
}
.z{
    font-size: 25px;
    text-align: center;
    display: inline-block;
    padding-top: 35px;
}
.o{
    width: 1355px;
    height: 200px;
    color: white;
    background-color: #29b5ff;
    padding: 50px 50px;
    margin: 0 250px;
}
.oz{
    font-size: 60px;
    text-align: center;
    padding: 0 120px;
}
.recent{
    height: 650px;
    width: auto;
    padding: 50px 300px 0 400px;
}
.z1{
    width: 521px;
    height: 200px;
    padding: 20px 20px 0 20px;
    display: inline-block;
}
.p{
    width: 1355px;
    height: 300px;
    color: white;
    background-color: black;
    padding: 35px 50px;
    margin: 0 250px;
}
.v{
    width: 335px;
    height: auto;
    display: inline-block;
}
.H{
    width: auto;
    font-size: 20px;
    height: 18px;
    cursor: pointer;
    line-height: 18px;
    padding: 12px 5px 0 0;
}
.S{
    width: auto;
    font-size: 20px;
    height: 18px;
    line-height: 18px;
    padding: 12px 5px 0 0;
}
.D{
    font-size: 25px;
    margin-left: 15px;
}
.p h2{
    color: #29b5ff;
}
.TP{
    width: 38px;
    height: 38px;
    float: right;
}
.navigationbar span1{
    color: #29b5ff;
    font-size: 38px;
}
.p p{
    line-height: 130px;
    text-align: center;
    color: #7c7b7e;
}
.p p5{
    line-height: 130px;
    text-align: center;
    cursor: pointer;
    color: white;
}
.navg{
    float: none;
}
#f{
    background-color: ghostwhite;
    color: deepskyblue;
    border-bottom-style: none;
    border-left-style: solid;
    border-width: 5px;
}
#fp{
    background-color: ghostwhite;
}
.navg:hover{
    background-color:ghostwhite;
    color:deepskyblue;
    border-bottom-style: none;
    border-left-style: solid;
    border-width: 4px;
}
.navg:active{
    background-color:ghostwhite;
    color: deepskyblue;
    border-bottom-style: none;
    border-left-style: solid;
    border-width: 4px;
}
#bodr {
    position: relative;
    float: right;
    margin-right: 20px;
    left: 0;
    bottom: 0;
    height: 38px;
    width: 34px;
    top: 20px;
    display: block;
    border-style: solid;
    border-color: lightgrey;
    background-color: white;
    cursor: pointer;
}
.boder {
    position: relative;
    margin-top: 4px;
    margin-left: 4px;
    display: block;
    width: 22px;
    height: 2px;
    float: left;
    border-radius: 1px;
    box-sizing: border-box;
    background-color: #888888;
}